# os
.DS_Store

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
debug

# Test binary, build with `go test -c`
*.test

# visual studio code
# .vscode

# temp
_tmp/

# out
/_out/
/_target/

# coverage
# /_out/coverage.out
